.feedContainer {
    padding-bottom: 60px;
    background-color: $branco;
    margin-top: 16px;

    .postagem {
        .avatar {
            height: 32px;
            width: 32px;
            margin-right: 8px;

            border: solid 2px transparent;
                background-image: linear-gradient(to bottom, white, white), radial-gradient(circle at top center,$corPrimaria2, $corPrimaria3 );
                background-origin: border-box;
                background-clip: content-box, border-box;
            
        }
        .cabecalhoPost {
            display: flex;
            align-items: center;
            padding: 0px 12px;
            margin-bottom: 8px;


            strong {
                font-size: 12px;
                color: $cinza4;

            }
        }

        .fotoDoPost {
            img {
                width:100%;
                height: auto;
                max-height:360px;
                object-fit: cover;
            }
        }
        .rodapePost {
            padding: 5px 16px;
                       
            strong.nomeUsuario{
                font-size: 12px;
                float: left;
                margin-right: 5px;
                color: $cinza4;
            }
            
            p.descricao {
                font-size: 12px;
                margin:0px 0px 2px;
                color: $cinza4;

                .showFullDesc {
                    font-size: 12px;
                    color: $corPrimaria3;
                    margin-left: 4px;
                    cursor:pointer;
                }
            }
            
            .acoesPost {
                display:flex;
                align-items: center;
                margin-bottom: 6px;

                > img , span {
                    margin-right: 6px !important;
                }

                .qtdLikes{
                    font-family: $fontLight;
                    font-size: 10px;
                    color:$cinza4;
                    
                    strong {
                        font-size:10px;
                        color: $cinza4;
                    }
                        
                }
            }

            .comentsPost{
                max-height: 85px;
                overflow-y: auto; 
            }

            // .descricaoPost {}
        }
        .containerFazerComentario {
            display:flex;
            padding: 0px 12px;
            align-items: center;
            margin-bottom: 16px;
            
            textarea {
                resize:none;
                flex: 1;                
                max-width:100%;
                border:none;
                outline: none;
                font-size: 12px;
                color: $cinza2;
            }
        }
    }

    @media screen and (min-width: $desktopBreakpoint){
        padding-top:8px;
        margin-top: 0px;

        .postagem {
            
            .cabecalhoPost{
                cursor: pointer;
            }

            .avatar{
                width: 42px;
                height: 42px;

                border: solid 2px transparent;
                background-image: linear-gradient(to bottom, white, white), radial-gradient(circle at top center,$corPrimaria2, $corPrimaria3 );
                background-origin: border-box;
                background-clip: content-box, border-box;
            }

            .rodapePost {

                .acoesPost{
                    > img, span{
                        margin-right: 5px !important;
                        cursor: pointer;
                    }
                }

                .comentsPost{
                    max-height: 75px;
                    overflow-y: auto; 
                }
            }

            .containerFazerComentario {
                margin-top:12px;

                .btnPublicacao {
                    background-color: transparent;
                    color: $corPrimaria2;
                    outline: none;
                    border: none;
                    font-size: 12px;                    
                    cursor: pointer;
                }

            }
        }
    }
}